body {
    text-align: center;
    background-color: rgb(112, 141, 228);
}

h1 {
    font-weight: 700;
    color: royalblue;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: gray;
}

p {
    font-weight: 400;
}

.container {
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 100px auto;
}

.block {
    width: 33%;
    padding: 10px 20px;
}

.block:hover {
    background: rgb(224, 222, 222);
    transition: 0.3s;
}.img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}